* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.header {
    height: 70px;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.webName {
    font-size: 2rem;
}
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
}
.add-second{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.searchBar {
    height: 40px;
    display: flex;
    border-radius: 4px;
}
.search-input {
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}
.search-input:focus {
    border: 5px solid orange;
}
.search-btn {
    height: 40px;
    font-size: 1.5rem;
    background-color: blanchedalmond;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 2px;
}
.search-btn:hover {
    background-color: orange;
}
.userName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 1rem;
}
.cart i{
    font-size: 2rem;
}
.cart {
    font-size: 1.5rem;
}
.bodySection {
    height: 300px;
    background-image: url("hero_image.jpg");
    background-size: cover;
}
.subparts {
    display: flex;
    background-color: beige;
    padding: 10px;
}
.box-left {
    height: 400px;
    width: 50%;
    padding: 25px 25px 25px 25px;
    background-color: white;
    border: 1px solid black;
}
.box-left-img {
    height: 95%;
    background-image: url('Deal_of_the_day.png'); 
    background-size: cover;
    background-position: center;
}
.box-left-content {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: skyblue;
}
.subparts-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    height: 200px;
    width: 35%;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}
.box-name {
    height: 15%;
    display: flex;
    justify-content: center;
    font-size: medium;
    color: black;
    font-weight: 700;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.box-img {
    height: 75%;
    background-size: cover;
    background-position: center;
}
.box-content {
    display: flex;
    justify-content: center;
    color: skyblue;
    font-size: 1.3rem;
}
.footer {
    height: 50px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.social-media {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;
}
.footer-content {
    font-size: 2rem;
}